<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Footer One Start -->

	<footer class=" footer-one no-bottom">

		<div class="parallax" style="background-image: url(https://via.placeholder.com/1920x670);"></div>

		<div class="container">

			<!-- <div class="row part-one">

				<div class="col-lg-3 col-md-6 col-sm-12">

					<a href="index.html">

						<img class="footer-logo" src="https://via.placeholder.com/185x70" alt="footer logo">

					</a>

					<p class="text-white">MCEE Campus, Lambakheda, Berasia Road Bhopal (M.P.) - 462018 INDIA</p>

					<div class="footer-contact">

						<p class="text-white"><span class="theme-clr">Phone:</span> +91-755-663 0100</p>

						<p class="text-white"><span class="theme-clr">Fax:</span> +91-755-4087311</p>

					</div>

				</div>

				<div class="col-lg-3 col-md-6 col-sm-12">

					<h2 class="text-white">Quick Links</h2>

					<ul class="quick-links">

						<li><a href="#">Lorem, ipsum dolor.</a></li>

						<li><a href="#">Lorem, ipsum.</a></li>

						<li><a href="#">Lorem, ipsum dolor.</a></li>

					</ul>

				</div>

				<div class="col-lg-4 col-md-6 col-sm-12">

					<h2 class="text-white">Upcoming Events</h2>

					<ul class="footer-events">

						<li>

							<figure>

								<img src="https://via.placeholder.com/110x100" alt="Event Image">

							</figure>

							<div>

								<a href="#">Lorem ipsum dolor sit amet.</a>

								<p class="post-date">Thrusday, aug 30, 2025</p>

							</div>

						</li>

						<li>

							<figure>

								<img src="https://via.placeholder.com/110x100" alt="Event Image 2">

							</figure>

							<div>

								<a href="#">Support Groups: Lorem ipsum dolor sit.</a>

								<p class="post-date">Monday, aug 18, 2025</p>

							</div>

						</li>

					</ul>

				</div>

			</div> -->

			<div class="copy-right">

				<!-- <div class="social">

					<ul class="social-medias">

						<li><a href="JavaScript:void(0)"><img src="assets/images/facebook.svg" alt="facebook"></a></li>

						<li><a href="JavaScript:void(0)"><img src="assets/images/twitter.svg" alt="twitter"></a></li>

						<li><a href="JavaScript:void(0)"><img src="assets/images/instagram.svg" alt="instagram"></a>
						</li>

					</ul>

				</div> -->

				<div class="footer-rights">

					<p class="text-wm-gold"><span>© Copyright 2025 Mindlogicx. All Rights Reserved.</span></p>

				</div>



			</div>

		</div>

	</footer>

	<!-- Footer One End -->
</body>
</html>