<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<link rel="icon" type="image/webp" href="assets/mlx_assets/mahaguru_loader_logo.webp" />
	<title>Interactive Header</title>
	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">
	<header class="header-one">

		<div class="desktop-nav" id="stickyHeader">

			<div class="container-fluid">

				<div class="row">

					<div class="col-lg-12">

						<nav>

							<div class="logo">

								<a href="index.html">

									<div class="guruji_logo_container">
										<img src="assets/mlx_assets/Mahaguru_Logo.png" alt="Logo">
									</div>
								</a>

							</div>
							<div class="nav-bar">

								<ul>

									<li><a href="index.html">Home</a></li>
									<li><a href="biography.html">Biography</a></li>
									<li><a href="achievements.html">Achievements</a></li>
									<li><a href="maharishi_gallery.html">Gallery</a></li>
									<li><a href="media.html">Media</a></li>
									<li><a href="online_programs.html">Online Programs</a></li>
									<!-- <li><a href="publications.html">Publications</a></li> -->
									<li><a href="maharishi_events.html">Events</a></li>
									<li><a href="maharishi_blog.html">Blogs</a></li>
									<li><a href="/maharishi_organization.html">Organizations</a></li>
									<!-- <li><a href="/maharishi_contactus.html">Contact Us</a></li> -->
									<!-- <li><a href="#">Sermons</a></li> -->
								</ul>

							</div>


							<div id="nav-icon4">

								<span></span>

								<span></span>

								<span></span>

							</div>

						</nav>

					</div>

				</div>

			</div>

		</div>

		<div class="mobile-nav" id="mobile-nav">

			<div class="res-log">

				<a href="index.html">

					<div class="guruji_logo_container">
						<img src="assets/mlx_assets/Mahaguru_Logo.png" alt="Logo">
					</div>

				</a>

			</div>

			<ul>

				<li><a href="index.html">Home</a></li>
				<li><a href="biography.html">Biography</a></li>
				<li><a href="achievements.html">Achievements</a></li>
				<li><a href="maharishi_gallery.html">Gallery</a></li>
				<li><a href="media.html">Media</a></li>
				<li><a href="online_programs.html">Online Programs</a></li>
				<!-- <li><a href="publications.html">Publications</a></li> -->
				<li><a href="maharishi_events.html">Events</a></li>
				<li><a href="maharishi_blog.html">Blogs</a></li>
				<li><a href="/maharishi_organization.html">Organizations</a></li>
				<!-- <li><a href="/maharishi_contactus.html">Contact Us</a></li>
				<li><a href="#">Sermons</a></li> -->
			</ul>

			<a href="JavaScript:void(0)" id="res-cross"></a>

		</div>

	</header>

</body>

</html>